
.section-content {
  background-color: lightgoldenrodyellow;
  height: 800px;

  &__cards {
    gap: 2%;
    display: flex;
    flex-wrap: wrap;
  }
}

.filter-form {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 1%;
  padding-bottom: 30px;

  &__select {
    width: 10%;
  }

  &__btn-search {
    padding: 5px 13px;
    cursor: pointer;
    border-radius: 5px;
  }
}

.flex-display-form {
  display: flex;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.sign-btn {
  position: absolute;
  left: 46%;
  padding: 10px 25px;
  font-size: 15px;
  background-color: #8fbc8f;
  border: 1px black;
  color: #fafad2
}

.input-form {
  padding-left: 40%;
  padding-right: 40%;
}

.form {
  padding-top: 40px;
  padding-left: 40%;
  padding-right: 40%;
  position: relative;
}

.no-items{

}

#cardsWrap {
  margin-top: 30px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#deleteCardBtn {
  margin-left: 85%;
  margin-bottom: 20px;
}


